* {
    box-sizing: border-box;
    scrollbar-width: thin;
}
    ::-webkit-scrollbar {
    width: 0px; height: 10px;
  }
  
  /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgb(196, 220, 221); border-radius:5px;
  }
  
  /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 129, 134);
  }
  html{
    position: relative;
    min-height: 100%;
  }
body {
    
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(253, 255, 230); font-size: 18px;
    background: linear-gradient(rgba(0, 0, 0, 0.781),rgba(0, 13, 31, 0.26)) fixed no-repeat,url("/images/vectorarts/white-diamond-dark.png"), rgba(253, 1, 1, 0); 
    background-color: #378599; background-attachment: fixed;

}
img{
    margin-bottom: 20px;
}
.container {
 margin-left:6%;margin-right:6%;
 margin-top:10px;margin-bottom:200px;
}
::selection{
    color: #92BED7; background-color: #02273D;
}
header{
    background-color: rgb(0, 0, 0);padding: 10px; 
}
nav {
    display: flex;font-family: 'Courier New', Courier, monospace;
    text-align: center; font-size:18px;
    padding-bottom: 30px; padding-top:30px;
    border-radius: 5px;
    align-items: center;
}
footer {
    position: relative;
    margin: 10px 0 0;
    line-height: 1.5; float: left;
    font-size: 15px; height:180px;
    background: rgb(27, 27, 27);width: 100%;
    padding: 20px;
}
.text{
    float:left; padding: 10px;
    width:70%;
}
.images{
    float: right; width: 26%; padding: 10px; margin-bottom:200px;
}

a:link, a:visited {
    color: #93c5d4;
    text-decoration:underline;
    text-underline-offset: 4px;
}
a:link:hover{
    font-weight: bold;
    text-underline-offset: 2px;
}
h1 {
    color: #B4D3E4;font-size: 40px;
}
h1, h2, h3{
    font-family: 'Courier New', Courier, monospace;
}
p {
    padding: 3px;line-height: 1.5;
    
}
span{
    padding: 10px; line-height: 1.5;
}
