.container {
 margin-left:5%;margin-right:5%;
 margin-top:10px;margin-bottom:5%;
}
::selection{
    color: #92BED7; background-color: #02273D;
}
header{
    background-color: rgb(0, 0, 0);padding: 10px; 
}
nav {
    display: flex;
    text-align: center; font-size:18px;
    padding-bottom: 30px; padding-top:10px;
    border-radius: 5px;
    align-items: center;
}
body {
    font-family:'Courier New', Courier, monospace;
    color: rgb(228, 222, 214);
    background-color: #01131E;
    background-image: url("/images/vectorarts/white-diamond-dark.png"); 
    

}
a:link, a:visited {
    color: #3F87B0;
    text-decoration:underline;
    text-underline-offset: 4px;
}
a:link:hover{
    font-weight: bold;
    text-underline-offset: 2px;
}
h1 {
    color: #acacac;
    text-align: center;
}
p {
    padding: 3px;
    
}
span{
    padding-left: 10px;
}
