header{
    background-color: rgb(15, 15, 15);padding: 10px; 
}
nav {
    background-color:black;padding: 10px;
    text-align: center;
}
body {
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(34, 34, 34);
    color: rgb(228, 222, 214);
    background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
a:link, a:visited {
    color: rgb(111, 49, 255); padding: 3px;
    text-decoration:underline;
}
a:link:hover {
    background-color:rgba(30, 7, 44, 0.452);
    padding: 3px;
}
h1 {
    color: #acacac;
    text-align: center;
}