.sidebar{
    position: fixed;right: 0px;top: 140px; bottom: 0px; z-index: 2;
    display: block;  
    overflow: hidden; 
    background-color: #183a42;
    max-width: 0; border-radius: 10px;overflow: scroll;
}
.sidebar .sidebar-content{
    padding: 40px; 
}
label {
    position: absolute;right: 0;top:60px;
    font-size: 56px;line-height: 3;
    display: block;
    cursor: pointer;
    background: url(/images/vectorarts/white-burger.svg) no-repeat left center;
    background-size: 30px;
    padding: 20px 20px 20px 40px;
}
input#menutoggle {
    display: none;
    
}
input#menutoggle:checked ~ label {
    background-image: url(/images/vectorarts/white-cross.svg) ;
}
input#menutoggle:checked ~ .sidebar {
    max-width: 50%;
}